p.demo_store {
	font-size: 1.5em !important;
}


.dibs_brand_assets {
  @media(max-width: (@grid-float-breakpoint - 1)){
	margin: 14px auto 0;
	text-align: center;
  }
  @media(min-width:@grid-float-breakpoint){
	position:absolute;
	bottom:40px;
  }

}


body.woocommerce-page {
  .page-header h1 { padding-right: 66px; }
  div.pp_woocommerce div.ppt, div.pp_woocommerce .pp_description  {
	display:none !important;
  }
  .pp_nav p {
	float: left;
	margin: -2px 4px;
	width: 40px;
	text-align: center;
  }

  .sku_wrapper { display:none;  }

  div.product {
    p.price,.stock {
      color:@body_text_colour;
    }
  }



}
body.woocommerce .container.subpage .subContent,
body.woocommerce-page .container.subpage .subContent,
body.woocommerce-page .subBorderLeft,
body.woocommerce .subBorderLeft,
body.search .subBorderLeft,
body.nyheter .subBorderLeft,
body .subpage .subContent .woocommerce {


	//padding: 0;
	//@media(min-width: @screen-sm) { padding: 0 26px 0 5px; }

  img { margin-bottom: 20px; }

  .info-notice {
    color: #000000;
    padding: 20px 19px;
    background-color: #F7F6F7;
    border: 3px solid #D40404;
    font-size: 16px;
    margin: 15px 0;
  }

  .checkout-button, .widget_product_search #searchsubmit {
	background: @accent_color;
	background: -webkit-gradient(linear,left top,left bottom,from(lighten(@accent_color,5%)),to(darken(@accent_color,5%)));
	background: -webkit-linear-gradient(lighten(@accent_color,5%),darken(@accent_color,5%));
	background: -moz-linear-gradient(center top,lighten(@accent_color,5%) 0%,darken(@accent_color,5%) 100%);
	background: -moz-gradient(center top,lighten(@accent_color,5%) 0%,darken(@accent_color,5%) 100%);
	border-color: rgb(169, 0, 0);
	color: #f1f1f1;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
	border-width: 1px;
  }

	h1.page-title {display:none;}
	.woocommerce-ordering, .woocommerce-page .woocommerce-ordering {
		@media(max-width: @screen-xs-max){ float:none; }
	}

	.woocommerce-ordering .orderby:focus {
		border-color: @accent_color;
		outline: 0;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px fade(@accent_color,60%);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px fade(@accent_color,60%);
	}


	//Paypal stylefix
	.woocommerce #payment .payment_method_paypal .about_paypal, .woocommerce-page #payment .payment_method_paypal .about_paypal {
		float: right;
		line-height: inherit;
		font-size: inherit;
		margin-left: 9px;
	}

	.wc-order-data-row label { color:#000; }


		p.myaccount_user, p.myaccount_address {
			margin-bottom:30px;
		}

		h3, h3 label {
			font-size:18px; margin-bottom: 5px;
			&.checkbox {
				display: inline;
				margin:0;
				min-height: 0;
				height:auto;
				padding: 0;
				vertical-align: inherit;

			}
			input { margin-top:3px;}
			&#ship-to-different-address {
				@media(max-width: @screen-xs-max){ margin-top:20px; }
			}
			&#order_review_heading { margin-bottom:13px; }
		}

		.cart-collaterals{
			.cross-sells { display:none; }
			.cart_totals {
				width:100%;
				table th { width:auto; }
			}
		}

		form {


			.woocommerce-shipping-fields, #order_review_heading { padding-top:30px; }


			input[type=text],textarea {
				-webkit-border-radius: 2px;
				border-radius: 2px;
				border: 1px solid #d1d1d1;
				padding:6px 5px 3px;


			}
			.button {
				text-shadow: none;
				font-weight:200;
			}

			@media(min-width:@screen-sm) and (max-width:@screen-sm-max){
				input[type=submit]{
					float: right;
					&.checkout-button { margin-top:4px; }
				}
			}

			.form-row label {
				line-height: 1.5em;
				font-weight: 400;
			}

			.woocommerce-invalid input[type=text] {
				border-color: #e6a4a4;
			}
		}


		.woocommerce-pagination {
			ul {
				border-color:@border_color;
			}
		}





	h2.woocommerce-result-count {
		padding-left: 9px;
		font-size:15px;
		font-weight:200;
		line-height: 33px;
		border-left:7px solid @navbar_menu_bg_colour;
		margin-bottom: 30px;
	}


	.woocommerce-message, .woocommerce-info {
		border-color: @accent_color;

        /*
        &:before {
			background-color:@accent_color;
			color: #fff;
			line-height: 1px;
			padding-top: 10px;
		}
		*/
	}


	.woocommerce-error {
		&:before {
			color: #ff0000;
			//line-height: 1px;
			//padding-top: 10px;
		}
	}


	table.shop_table td, table.shop_table th {
		@media(max-width:@screen-xs-max){
			font-size: 10px;
			padding-left:10px;
			padding-right:10px;
		}
	}
	table.cart a.remove {
		color:@accent_color;
		line-height: 20px;
		@media(max-width:@screen-xs-max){ line-height: 13px; }
		&:hover{
			color:#fff;
			background-color:@accent_color;
		}

		transition: background-color @navbar_menu_bg_colour_transition_speed, color @navbar_menu_bg_colour_transition_speed;
		-moz-transition: background-color @navbar_menu_bg_colour_transition_speed, color @navbar_menu_bg_colour_transition_speed;
		-webkit-transition: background-color @navbar_menu_bg_colour_transition_speed, color @navbar_menu_bg_colour_transition_speed;
		-o-transition: background-color @navbar_menu_bg_colour_transition_speed, color @navbar_menu_bg_colour_transition_speed;

	}


	.product {
		span.onsale {
			top: 5px;
			left: 5px;
			padding: 8px 4px;
			-webkit-border-radius: 25px;
			border-radius: 25px;
			background: @accent_color;
			background: -webkit-gradient(linear,left top,left bottom,from(@accent_color),to(darken(@accent_color,20%)));
			background: -webkit-linear-gradient(@accent_color,darken(@accent_color,20%));
			background: -moz-linear-gradient(center top,@accent_color 0,darken(@accent_color,20%) 100%);
			background: -moz-gradient(center top,@accent_color 0,darken(@accent_color,20%) 100%);
		}
	}


	.products
	{
		/*############## Produktlista ##############*/

        //Listvy
        div.product.woo-list{

          position:relative;
          background-color: #f1f1f1;
          padding: 10px;
          margin-bottom:10px !important;

          > a {

            width:100%;
            img {
              @media(max-width: @screen-xs-max){ display:none; }
              float:left; width:16%;
            }
          }
          a.add_to_cart_button {

          }

          .title-exerpt {

            @media(max-width: @screen-xs-max){
              width:100%;
              clear:both;
            }

            @media(min-width: @screen-sm){
              float:left;
              width:55%;
              padding:0 0 0 10px;
            }

            color:@body_text_colour;
            h3 {
              padding:0 0 0 0;
              height:auto;
              font-weight: 600;
            }
          }
          .price {

            @media(max-width: @screen-xs-max){
              float:left;
            }


            @media(min-width: @screen-sm){
              float:right;
              width:25%;
              border:0;
              text-align: right;
              margin-top: -3px;
            }

          }

          a.add_to_cart_button {

            position:relative;

            @media(min-width: @screen-sm){
              position:absolute;
              right:10px;
              bottom:10px;
              width:25%;
            }

            &.added:after{
              right: 10px;
              position: absolute;
            }
            &.loading:after{
              top: 4px;
              right: 9px;
            }
          }

        }








		.product.fullwidth { @media(max-width:400px){ width:100%; } }


        .product-category.product.col-xs-6 {
          @media(max-width: 470px){
            width:100%;
          }
        }

		.product-category.product h3 {
          height: 28px;
          padding-top: 9px;
          color:@accent_color;
          font-size:14px;
          font-weight: 600;
          white-space: nowrap;
          overflow: hidden;
        }


		div.product{
			margin-bottom: 30px !important;

            .onsale {
              top: 5px;
              left: 30px;
            }

			a {
				text-decoration: none;
				img { width:100%; border:1px solid @body_border_color; }
				h3 { font-size:15px; padding-top:15px; margin-bottom: 7px; display: block; height: 80px; }
				.price {
					font-family: @font-family-special;
					display: block;
					color:@accent_color !important;
					border-bottom:1px solid @body_border_color;
					padding-bottom: 10px;
					margin-bottom: 9px;
					del { color:#ccc !important; }
					ins { color:inherit; text-decoration: none !important;}
				}

				//Inga stjärnor i listorna
				.star-rating { display:none; }
			}
			a.button{
				text-shadow: none;
				font-weight: normal;
				font-size: 15px;
				color: #666;
				background: transparent;
				border:0;
				text-shadow: none;
				-webkit-box-shadow: none;
				-moz-box-shadow: none;
				box-shadow: none;
			  	padding:4px 13px 3px;
				font-size:13px;
				font-weight: 600;
				line-height: 21px;

				background: @accent_color;
				background: -webkit-gradient(linear,left top,left bottom,from(lighten(@accent_color,5%)),to(darken(@accent_color,5%)));
				background: -webkit-linear-gradient(lighten(@accent_color,5%),darken(@accent_color,5%));
				background: -moz-linear-gradient(center top,lighten(@accent_color,5%) 0%,darken(@accent_color,5%) 100%);
				background: -moz-gradient(center top,lighten(@accent_color,5%) 0%,darken(@accent_color,5%) 100%);
				border-color: #107B1E;
				color: #f1f1f1;
				text-shadow: 0 -1px 0 rgba(0,0,0,0.2);

				&:hover{
					color:#fff;
				}
				&.added:before { color:@accent_color; right:-22px; top:1px; }
			}
		}


	}





	/*############## Enskild produkt #############*/
	div[id^='product-']{
		h1.product_title{ display:none; }
		.images {

			img{
				box-shadow: none;
				-webkit-box-shadow: none;
				width: 100%;
				border: 1px solid @body_border_color;
			}

			.woocommerce-main-image{}
			.thumbnails {
				a { margin-bottom:14px; }
			}

		}

	  button.button, input.button.alt {
		text-shadow: none;
		font-weight: normal;
		font-size: 15px;
		color: #666;
		background: transparent;
		border:0;
		text-shadow: none;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		padding:4px 13px 3px;
		font-size:13px;
		font-weight: 600;
		line-height: 21px;

		background: @accent_color;
		background: -webkit-gradient(linear,left top,left bottom,from(lighten(@accent_color,5%)),to(darken(@accent_color,5%)));
		background: -webkit-linear-gradient(lighten(@accent_color,5%),darken(@accent_color,5%));
		background: -moz-linear-gradient(center top,lighten(@accent_color,5%) 0%,darken(@accent_color,5%) 100%);
		background: -moz-gradient(center top,lighten(@accent_color,5%) 0%,darken(@accent_color,5%) 100%);
		border-color: #107B1E;
		color: #f1f1f1;
		text-shadow: 0 -1px 0 rgba(0,0,0,0.2);

		&:hover{
		  color:#fff;
		}
		&.added:before { color:@accent_color; right:-22px; top:1px; }
	  }


		p.price {
			font-family: @font-family-special;
			ins {
				text-decoration: none;
				color:@accent_color;
			}
		}

		td.label {
			color:inherit; border-bottom:0;
			vertical-align: -webkit-baseline-middle;
			label {}
		}

		.woocommerce-tabs{
			ul.tabs {
				li {
					@media(max-width:420px){
						padding: 0 0.8em;
						font-size:11px;
					}
				}
			}
		}

		.related.products {
			.products .product:last-child{
				@media(max-width:@screen-xs-max){ display:none; }
			}
		}


	}


}

body.woocommerce a.button.alt, body.woocommerce button.button.alt, body.woocommerce input.button.alt, body.woocommerce #respond input#submit.alt, body.woocommerce #content input.button.alt, body.woocommerce-page a.button.alt, body.woocommerce-page button.button.alt, body.woocommerce-page input.button.alt, body.woocommerce-page #respond input#submit.alt, body.woocommerce-page #content input.button.alt {
  background: @accent_color;
  background: -webkit-gradient(linear,left top,left bottom,from(lighten(@accent_color,5%)),to(darken(@accent_color,5%)));
  background: -webkit-linear-gradient(lighten(@accent_color,5%),darken(@accent_color,5%));
  background: -moz-linear-gradient(center top,lighten(@accent_color,5%) 0%,darken(@accent_color,5%) 100%);
  background: -moz-gradient(center top,lighten(@accent_color,5%) 0%,darken(@accent_color,5%) 100%);
  border-color: #107B1E;
  color: #f1f1f1;
  text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
  &:hover{
	background: @accent_color;
	background: -webkit-gradient(linear,left top,left bottom,from(lighten(@accent_color,5%)),to(darken(@accent_color,5%)));
	background: -webkit-linear-gradient(lighten(@accent_color,5%),darken(@accent_color,5%));
	background: -moz-linear-gradient(center top,lighten(@accent_color,5%) 0%,darken(@accent_color,5%) 100%);
	background: -moz-gradient(center top,lighten(@accent_color,5%) 0%,darken(@accent_color,5%) 100%);
	border-color: #107B1E;
	color: #f1f1f1;
	text-shadow: 0 -1px 0 rgba(0,0,0,0.2);
  }
}


//Rating

.woocommerce .star-rating:before, .woocommerce-page .star-rating:before {
	font-family:"FontAwesome";
	content: "\73\73\73\73\73";
	content:"\f08a\f08a\f08a\f08a\f08a";
	color: lighten(@accent_color,20%);
	text-indent: 2px;
	line-height: 15px;
}

.woocommerce .star-rating span:before, .woocommerce-page .star-rating span:before {
	font-family:"FontAwesome";
	content: "\f004\f004\f004\f004\f004";
	color:@accent_color;
	text-indent: 2px;
	line-height: 15px;
}

















/*############# Shop sidebar Meny/sök et.c ##############*/
.subBorderLeft.shop-sidebar {
	.view-btn {display: none;}

	@media(max-width:@screen-xs-max){
		-webkit-box-shadow: -3px 3px 2px 0px rgba(0,0,0,.1);
		box-shadow: -3px 3px 2px 0px rgba(0,0,0,.1);
		position: absolute;
	  	top: -85px;
		background: #fff;
		right: 0px;
		width:auto;
		border: 1px solid @body_border_color;
		border-right: 0;
		padding:10px 0px;
		z-index:3;


		.showcases {
			margin:0;
			margin-left:15px;
			margin-right: 7px;
			width:228px;
			overflow-x:hidden;
			transition:all 0.3s cubic-bezier(.71,.08,0,1.44);
			-webkit-transition:all 0.3s cubic-bezier(.71,.08,0,1.44);
			-moz-transition:all 0.3s cubic-bezier(.71,.08,0,1.44);
			-o-transition:all 0.3s cubic-bezier(.71,.08,0,1.44);

			&.collapsed {
				width:3px;
				transition:all 0.2s ease-in-out;
				-webkit-transition:all 0.2s ease-in-out;
				-moz-transition:all 0.2s ease-in-out;
				-o-transition:all 0.2s ease-in-out;
				margin:0;
			}

			.shop-cat-menu {
				width:228px;
				.widget.woocommerce.widget_product_categories .widgettitle {
					line-height: 21px;
					border-left: 3px solid @navbar_menu_bg_colour;
				}


			}
		}
		.view-btn {
			display:block;
			position:absolute;
			width:52px;
			border:1px solid @body_border_color;
			border-right:0;
			top:-1px;
			left:-52px;
			background: #fff;
			//text-indent: 5px;
			font-size: 25px;
			padding: 3px 0 4px;
			color:@navbar_menu_bg_colour;
			-webkit-box-shadow: -3px 3px 2px 0px rgba(0,0,0,.1);
			box-shadow: -3px 3px 2px 0px rgba(0,0,0,.1);
			border-radius: 4px 0 0 4px;
			.fa { margin-left: 10px; }
		}
	}

  	@media(min-width: @grid-float-breakpoint) and (max-width: @screen-sm-max){
	  .showcases { margin-right:0; }
	}

    /*
	.shop-cat-menu {
		@media(min-width:@screen-md){
			margin-left:21px;
		}
	}
	*/

}

.widget-ul {
	list-style: none;
	padding:0;
	margin:0;
	a {
		text-decoration: none; color:@body_text_colour;

		&:hover, &:focus { color:#333; }
	  	&:visited { color:@body_text_colour; }
	}

	.widget.woocommerce {


	  margin-bottom:30px;


	  .widgettitle {
		padding-left: 9px;
		margin-left:3px;
		font-size:15px;
		font-weight:200;
		line-height: 33px;
		border-left:7px solid @navbar_menu_bg_colour;
		margin-bottom: 19px;
	  }

	  input[type=text]{ width:65%; text-indent:5px; border-radius:3px; border-width: 1px; outline-color: @accent_color; padding: 1px 0; }
	  input[type=submit]{ width:30%; }

	}


	ul { list-style: none; padding:0; margin:0 }
	.product-categories {
		li {
			padding-left:3px;
			border-bottom:1px dotted @body_border_color;
			line-height: 33px;
			&:last-child { border:none; }

			&.current-cat > a { color:#333; font-weight: 600; }
			&.current-cat-parent > a { color:#333; font-weight: 600; }

			&.cat-parent ul {
				margin-top: -5px;
				margin-bottom: 7px;
				li {
					position:relative;
					border:none; padding-left:10px; line-height: 19px;
					&:before {
						content: '';
						position: absolute;
						top: .6em;
						left: 0.3em;
						border: 2px solid transparent;
						border-left-color: @accent_color;
					}
					&.current-cat:before {
						border-left-color:#333;
					}
					&:hover{
						&:before { border-left-color: #333; }
					}
				}
			}
		}
	}


}



/* Paginering */

.woocommerce nav.woocommerce-pagination, .woocommerce #content nav.woocommerce-pagination, .woocommerce-page nav.woocommerce-pagination, .woocommerce-page #content nav.woocommerce-pagination {

	text-align: left;
  	display:inline-block;
	@media(max-width:@screen-xs-max){ text-align: center; }
	ul {
		li a,li span{
			background: #FFF;
			color: @accent_color;

		}

		li span.current,li a:hover,li a:focus {
			background: @navbar_menu_bg_colour;
			color: #fff;

		}
	}
}






/*########## Varukorg ###########*/
.cart-contents{

	position: relative;

  margin-top: 14px;
  @media (min-width: @screen-xs) {margin-top: 8px;}
  @media (min-width: @screen-sm) {margin-top: 8px;}
  @media (min-width: @screen-md) {margin-top: 8px;}
  @media (min-width: @screen-lg) {margin-top: 8px;}
	/*
	width:30px;
	height:30px;
	background-image:url(../img/cart-icon.png);
	background-repeat:no-repeat;
	background-size:30px 26px;
	*/
	@media(min-width:@screen-sm){}
	span {
		display:block;
		position:absolute;
		right: 3px;
		top: -6px;
		background: @accent_color;
		background: -webkit-gradient(linear,left top,left bottom,from(@accent_color),to(darken(@accent_color,20%)));
		background: -webkit-linear-gradient(@accent_color,darken(@accent_color,20%));
		background: -moz-linear-gradient(center top,@accent_color 0,darken(@accent_color,20%) 100%);
		background: -moz-gradient(center top,@accent_color 0,darken(@accent_color,20%) 100%);
		border:0px solid #333;
        border-radius: 13px;
        min-height: 12px;
        min-width: 20px;
        font-size: 12px;
        color: #fff;
        font-weight: bold;
        text-align: center;
        padding: 2px 6px 2px;
	}
}
.added_to_cart.wc-forward { display:none !important; }

//Kassan
body.woocommerce-checkout{
  form {
    #billing_address_2,#billing_country_field { display: none; }
  }
}

