@contact_staff_padding_top: 10px;												// Default T1 : 10px;
@contact_staff_padding_right: 5px;												// Default T1 : 5px;
@contact_staff_padding_bottom: 60px;											// Default T1 : 60px;
@contact_staff_padding_left: 5px;												// Default T1 : 5px;

@contact_staff_img_border_color: #E6E6E6;
@contact_staff_details_background_color: transparent;							// Default T1 : transparent;

.mapTabs
{
  &>li>a
  {
	margin-left: 0px;
	padding: 8px 20px 8px 20px !important;
	background: rgba(224, 224, 224, 0.11);
  }
}

.tab-pane {
  display:none;
  &.active{ display:block; }
}




.PL_name{font-weight:bold;}
.PL_name{font-style:italic;}
.personal {
  padding-top: 10px;
  padding-bottom: 10px;
}

.contactHeader {
  width: 100%;
  display: block;
  font-weight: bold;
  margin-top: 10px;
}


.staff-list
{
  margin-left: -@contact_staff_padding_left;
  margin-right: -@contact_staff_padding_right;

  .personal
  {
	padding: @contact_staff_padding_top;
	padding-right: @contact_staff_padding_right;
	padding-bottom: @contact_staff_padding_bottom;
	padding-left: @contact_staff_padding_left;

	img
	{
	  display: block;
	  width: 100%;
	  margin-bottom: 10px;

	  border: 1px solid @contact_staff_img_border_color;
	}

	a
	{
	  color: inherit;
	  &:hover { text-decoration: underline; }
	}

	.PL_infosquare
	{
	  background-color: @contact_staff_details_background_color;
	  min-height: 65px;
	}
  }
}






/* karta */
.mapBottom
{
  display: block;
  height: 30px;

  margin-bottom: 20px;
  border-bottom: 1px solid @map_border_colour;
}


/*Kontakt */
.contactInfo
{
  @media(min-width:@screen-sm) and (max-width:@screen-md)
  {
	border: none;
  }

  a { color:inherit; text-decoration:none; }
  a:hover { text-decoration:underline; }
}

.wpcf7-form
{
  .LeadText {
	margin-bottom: 8px;
  }

  .wpcf7-submit
  {
	border: none;
	background: #e9e9e9;
	color: #666;
	height: 30px;
	margin-top: 10px;
  }

  .ajax-loader
  {
	width:auto !important;
	position: absolute;
	left: 10px;
	top: 8px;
  }

  br { display: none; }
  input, textarea
  {
	width: 100%;
	height: 30px;
	border: 1px solid #cacaca;

	.gradient(#f4f3f3, #fdfefe, 'left-to-right');

	color: #666666;
	text-indent: 5px;
	@media(max-width:@screen-sm)
	{
	  text-indent: 0;
	}
  }
  select { color: #666; width: 100%; height: 30px; }
  textarea { height:200px; }
  span
  {
	&.wpcf7-not-valid-tip
	{
	  position: absolute;
	  top: 20%;
	  left: 3%;
	  z-index: 100;
	  background: #fff;
	  border: 1px solid #ff0000;
	  padding: 2px;
	  width: auto;
	}
  }
}
/*
.mapTabs
{ 
	display: none;
	&>li>a
	{
	    margin-left: 5px;
	    padding: 8px 20px 8px 20px !important;
	}
}


.PL_infosquare {
    background-color: #e0e0e0;
    padding: 5px;   
    height: 114px;
}

.PL_name{font-weight:bold;}
.PL_name{font-style:italic;}
.personal {
    padding-top: 10px;
    padding-bottom: 0px;
} 
.personal img {
    display: block;
    width: 100%;
    margin-bottom: 0px !important;
    border: 1px solid #707070 !important;
}


.contactHeader {
    width: 100%;
    display: block;
    font-weight: bold;
    margin-top: 10px;
}



.personal 
{ 
	padding-top: @grid-gutter-width; 
	padding-bottom: @grid-gutter-width*6;
	
	img 
	{ 
		display: block; width: 100%; border: 1px solid @lines-color;
	}
	
	a 
	{ 
		color: inherit;
		&:hover { text-decoration: underline; }
	}
}






.mapBottom 
{ 
	display: block; 
	height: 30px;
	
	margin-bottom: 20px;
	border-bottom: 1px solid @map_border_colour;
}



.contactInfo 
{
	&:first-child
	{
		@media(max-width:@screen-sm)
		{
			border-top: 1px solid @lines-color;
			padding-bottom: 26px;
		}
	}
	
	@media(min-width:@screen-sm) and (max-width:@screen-md)
	{
		border: none;
	}          
	
	a { color:inherit; text-decoration:none; }
	a:hover { text-decoration:underline; }
}

.wpcf7-form
{
    .LeadText {
       margin-bottom: 8px;
    }

	.wpcf7-submit 
	{
	    border: none;
	    background: #e9e9e9;
	    color: #666;
	    height: 30px;
	    margin-top: 10px;
	}
	
	.ajax-loader 
	{ 
		width:auto !important; 
		position: absolute; 
		left: 10px; 
		top: 8px;
	}
	
	br { display: none; }
	input, textarea 
	{
	    width: 100%;
	    height: 30px;
	    border: 1px solid #cacaca;
	    
	    .gradient(#f4f3f3,#fdfefe);
	    
	    color: #666666;
	    text-indent: 5px;
	    @media(max-width:@screen-sm)
	    {
	        text-indent: 0;
	    }
    }
    select { color: #666; width: 100%; height: 30px; }
    textarea { height:200px; }
    span
    {
    	&.wpcf7-not-valid-tip
    	{
		    position: absolute;
		    top: 20%;
		    left: 3%;
		    z-index: 100;
		    background: #fff;
		    border: 1px solid #ff0000;
		    padding: 2px;
		    width: auto;
	    }
	}
}
*/
