
// Fonts
//------------------------------------------------------------------------------
@font-family-std:           'Open Sans', sans-serif;
@font-family-special:       'Open Sans Condensed', sans-serif;
@font-family-headline:      'Open Sans', sans-serif;
//------------------------------------------------------------------------------


// Gutter settings
//------------------------------------------------------------------------------
// This declaration overrides the gutter width set in bootstrap/variables.less
// Comment it out if you want to use the default bootstrap value.
@grid-gutter-width: 50px;

// Custom gutters for responsiveness levels.
@grid-gutter-width-sub-xs: 20px;
@grid-gutter-width-xs: 20px;
@grid-gutter-width-sm: 30px;
@grid-gutter-width-md: 50px;
@grid-gutter-width-lg: 50px;

// Use this variable to create an offset on content such as subcontent.
@custom-gutter-offset: 0px;
//------------------------------------------------------------------------------


// Body
//------------------------------------------------------------------------------
@body_bg_use_image: true;
@body_bg_use_gradient: false;
@container_use_box_shadow: true;
@accent_color:#d40404;
@border_color:#e5e5e5;

// Container rules.
// -----------------------------------------------------------------------------
// These settings override the default bootstrap settings, comment in/out as needed.
//@container-tablet: ((720px + @grid-gutter-width));
//@container-desktop: ((940px + @grid-gutter-width));
@container-lg-desktop: 1018px;

@container_box_shadow: 0 2px 7px 2px rgba(0,0,0,0.2);							// Default T1:  0 2px 15px 8px rgba(0, 0, 0, 0.2);
// -----------------------------------------------------------------------------


// Rules for the body background.
@body_bg_image: "../img/body_bg.jpg";
@body_bg_image_repeat: no-repeat;  												// repeat, repeat-x, repeat-y and no-repeat are valid values.
@body_bg_image_size: cover;

@body_bg_colour: #CCCCCC;
@body_bg_colour_gradient_start: @body_bg_colour;
@body_bg_colour_gradient_stop: #FFFFFF;

// General text colour rules, this applies to all text except links.
@body_text_colour: #000;														// Default T1 : #000000
@body_text_font_size: 14px;														// Default T1 : 14px
@body_text_font_weight: 400;													// Default T1 : 300

// Common border colours, this affects the subBorder, header borders and the
// borders around the showcases.
@body_border_color: #EFEFEF;													// Default T1 : #EFEFEF

// Rules for headers (h).
@colour_h: @body_text_colour;

// Rules for H1 headers.
@body_h1_float: none;															// Default T1 : none
@body_h1_margin: 0 0 0 -2px;                                                	// Default T1 : 0 0 0 -2px
@body_h1_padding: 0;															// Default T1 : 0

@body_h1_font_size: 33px;
@body_h1_font_weight: 300;
@body_h1_color: #D40404;
@body_h1_background_color: transparent;											// Default T1 : transparent
@body_h1_text_transform: none;													// Default T1 : uppercase

@body_h1_border_bottom: none;													// Default T1 : none

// Rules for paragraphs (p)
@body_p_float: none;                                                            // Default T1 : none

// Rules for links (a)
@colour_a: @accent_color;
//------------------------------------------------------------------------------

// Map
//------------------------------------------------------------------------------
@map_border_colour: #EEEEEE;
//------------------------------------------------------------------------------

// Featured iamges
//------------------------------------------------------------------------------
@feat_img_container_visible: false;												// Default T1 : false
@feat_img_container_bg_use_image: false;										// Default T1 : false

// Controls the distance between the featured image and the main menu/main
// content (uses .container background colour).
@feat_img_container_padding_top: @grid-gutter-width / 2;						// Default T1 : gutter width / 2
@feat_img_container_padding_bottom: @feat_img_container_padding_top;			// Default T1 : gutter width / 2

@feat_img_container_bg_color: transparent;										// Default T1 : transparent
@feat_img_container_bg_image: "../img/footer_bg.jpg";
//------------------------------------------------------------------------------

// Slider
//------------------------------------------------------------------------------
@flex_slidetext_bg_use_transparency: true;
@flex_dir_nav_use_img: false;


// Controls the distance between the slider and the main menu/main content.
@flex-container-margin-top: 6px;
@flex-container-margin-bottom: @flex-container-margin-top;

// Slider text box properties.
@flex_slidetext_location: "top"; // top or bottom
@flex_slidetext_pos: 230px;
@flex_slidetext_pos_lg: 244px;
@flex_slidetext_bg: rgba(44,44,44,0.8);
@flex_slidetext_bg_transparent: 1;
@flex_slidetext_width: 40%;

// Various controls for the directional arrows (left/right).
@flex_dir_nav_width: 35px;
@flex_dir_nav_height: 43px;
@flex_dir_nav_padding: 0px 11px; // Only used for text arrows.
@flex_dir_nav_bg_colour: rgba(44,44,44,0.8);

// In case images are used instead of glyphicons.
@flex_dir_nav_img_prev: "../img/arrow_prev.png";
@flex_dir_nav_img_prev_hover: "../img/arrow_prev_mo.png";
@flex_dir_nav_img_next: "../img/arrow_next.png";
@flex_dir_nav_img_next_hover: "../img/arrow_next_mo.png";
@flex_dir_nav_img_bg_size: 55px;

// And in case we're using glyphicons.
@flex_dir_nav_font_family: "FontAwesome";
@flex_dir_nav_font_style: normal;
@flex_dir_nav_font_weight: 100;
@flex_dir_nav_text_color: #f1f1f1;
@flex_dir_nav_text_decoration: none;

@flex_dir_nav_hover_text_color: #fff;
@flex_dir_nav_text_shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);
@flex_dir_nav_hover_text_shadow: 0px 0px 0px rgba(0, 0, 0, 0.5);

@flex_dir_nav_font_size: 33px;
@flex_dir_nav_line_height: 42px;

@flex_dir_nav_prev_left: 0px;
@flex_dir_nav_next_right: 35px;
@flex_dir_nav_prev_content: "\f104";
@flex_dir_nav_next_content: "\f105";
//------------------------------------------------------------------------------

// Misc
//------------------------------------------------------------------------------
.nav-tabs { border-bottom: 0px solid black; }
.glyphicon { margin-right: 3px; }


div.wpcf7 { margin-bottom: 18px; }
div.wpcf7 label { margin-top: 7px; }

table{max-width:100%; width:100%}
td {
  vertical-align: text-top;
  border-bottom: 1px solid #EFEFEF;
  margin: 5px 0px 5px 0px;
  padding: 5px 2px 5px 2px;
}

body.search .woocommerce-pagination {
  padding-top: 20px;
}

a.type_1.instagramBtn {
  display: none;
}

.navbar-collapse {
  font-family: @font-family-std;
  @media (min-width: @screen-xs) {font-family: @font-family-std; font-size: 16px !important;}
  @media (min-width: @screen-sm) {font-family: @font-family-std; font-size: 15px !important;}
  @media (min-width: @screen-md) {font-family: @font-family-std; font-size: 15px !important;}
  @media (min-width: @screen-lg) {font-family: @font-family-std; font-size: 16px !important;}

}
.bokaknapp {
  float: right;
  margin-top: 6px;
  margin-right: -5px;
  img {
    height: 35px;
  }
}

.bokaknapp2 {
  float: left;
  margin-top: 7px;
  margin-left: 10px;
  margin-bottom: -3px;
  img {
    height: 35px;
  }
}

span.wpcf7-list-item {
  margin-left: 0em !important;
  display: block !important;
}

input[type="checkbox"] {
  text-align: left !important;
  height: 12px !important;
  width: 12px !important;
}

td {
  border-bottom: 0px solid #efefef !important;
  margin: 7px 0 5px 0 !important;
  padding: 10px 2px 10px 10px !important;
}

.woocommerce-ordering {
  display: none;
}

.widget-ul .product-categories li.current-cat>a {
  color: @accent_color !important;
}

.widget-ul .widget.woocommerce .widgettitle {
  font-weight: 400 !important;
}

body.woocommerce .container.subpage .subContent h2.woocommerce-result-count, body.woocommerce-page .container.subpage .subContent h2.woocommerce-result-count {
  font-weight: 400 !important;
}