/* 
    Created on : 2013-okt-18, 11:56:11
    Author     : Robin Mellberg
*/
.gradient(@start, @end, @direction)
{
    & when (@direction = 'left-to-right')
    {
        background: -webkit-linear-gradient(left, @start 0%, @end 100%);
        background: -o-linear-gradient(right, @start 0%, @end 100%);
        background: -moz-linear-gradient(right, @start 0%, @end 100%);
        background: linear-gradient(to right, @start 0%, @end 100%);
    }
    & when (@direction = 'right-to-left')
    {
        background: -webkit-linear-gradient(right, @start 0%, @end 100%);
        background: -o-linear-gradient(left, @start 0%, @end 100%);
        background: -moz-linear-gradient(left, @start 0%, @end 100%);
        background: linear-gradient(to left, @start 0%, @end 100%);
    }
    & when (@direction = 'top-to-bottom')
    {
        background: -webkit-linear-gradient(top, @start 0%, @end 100%);
        background: -o-linear-gradient(bottom, @start 0%, @end 100%);
        background: -moz-linear-gradient(bottom, @start 0%, @end 100%);
        background: linear-gradient(to bottom, @start 0%, @end 100%);
    }
    & when (@direction = 'bottom-to-top')
    {
        background: -webkit-linear-gradient(bottom, @start 0%, @end 100%);
        background: -o-linear-gradient(top, @start 0%, @end 100%);
        background: -moz-linear-gradient(top, @start 0%, @end 100%);
        background: linear-gradient(to top, @start 0%, @end 100%);
    }
    & when (@direction = 'radial')
    {
        background: -webkit-radial-gradient(circle, @start, @end);
        background: -o-radial-gradient(circle, @start, @end);
        background: -moz-radial-gradient(circle, @start, @end);
        background: radial-gradient(circle, @start, @end);
    }
}


.box-shadow(@shadow)
{
    -webkit-box-shadow: @shadow;
    -moz-box-shadow: @shadow;
    box-shadow: @shadow;
}


.grayscale-transition(@transition_speed, @transition_direction)
{
    & when (@transition_direction = 'to-gray')
    {
        filter: none;
        -webkit-filter: grayscale(0%);
        &:hover
        {
            filter: gray;
            -webkit-filter: grayscale(100%);
        }
    }
    & when (@transition_direction = 'from-gray')
    {
        filter: gray;
        -webkit-filter: grayscale(100%);
        &:hover
        {
            filter: none;
            -webkit-filter: grayscale(0%);
        }
    }

    -moz-transition: all @transition_speed ease-in-out;
    -webkit-transition: all @transition_speed ease-in-out;
    transition: all @transition_speed ease-in-out;
}

